{{ define "main" }}

<h1>Portfolio</h1>

{{ with .Sections }}
  {{ range .ByWeight.Reverse }}
    {{ partial "section.html" . }}
  {{ end }}
{{ end }}

<!--
<h2>MerchantCantos</h2>
<div class="row">
  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <h5 class="card-subtitle text-muted">Project name</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>
</div>

<h2>Avenue Digital</h2>
<div class="row">
  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <h5 class="card-subtitle text-muted">Project name</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>
</div>

<h2>Wickedweb</h2>
<div class="row">
  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <h5 class="card-subtitle text-muted">Project name</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="card h-100">
      <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
      </div>
    </div>
  </div>-->

  {{ end }}
