<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex, nofollow">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/icons.css">

  <title>Portfolio - James Coxhead</title>
</head>
<body>
  <div class="container mt-4">
    <h1>Portfolio</h1>
    <p></p>

    <h2>MerchantCantos</h2>
    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <h5 class="card-subtitle text-muted">Project name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>
    </div>

    <h2>Avenue Digital</h2>
    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <h5 class="card-subtitle text-muted">Project name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>
    </div>

    <h2>Wickedweb</h2>
    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <h5 class="card-subtitle text-muted">Project name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img src="images/jamescoxhead-co-uk.png" alt="JamesCoxhead.co.uk" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a href="https://www.jamescoxhead.co.uk" target="_blank">JamesCoxhead.co.uk</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo ante ut tempor porta. Duis interdum nulla id lacus ultricies suscipit. Vestibulum tincidunt lorem non ex vehicula, nec elementum erat eleifend. Cras eget nisl ante.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-light py-3">
    <div class="container text-center">
      <p>&copy; 2018 <a href="https://www.jamescoxhead.co.uk" target="_blank">James Coxhead</a>.</p>
      <p class="mb-0"><a href="https://www.linkedin.com/in/jamescoxhead/" target="_blank" class="icon-linkedin"><span class="sr-only">LinkedIn</span></a>&nbsp;<a href="https://github.com/jamescoxhead" target="_blank" class="icon-github-circled"><span class="sr-only">Github</span></a></p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
