.site-header {
    box-shadow: none;
}

.site-footer {
    background-color: #f6f6f6;
    border-top: 1px solid #dee2e6
}

.site-footer .social-icons a {
    font-size: 1.1rem;
}

.site-footer .social-icons a:hover {
    text-decoration: none;
}
